#main{
    background-color: rgb(152, 141, 141);
    font-size: 32px;
    border: 2px solid red;
    padding-left: 450px;
}

@media screen and (max-width: 780px) {
    #main{
        background-color: rgb(168, 164, 164);
        font-size: 24px;
        padding-left: 50px;
    }   
    .more-info{
        display: flex;
    } 
}