#main{
    background-color: rgb(152, 141, 141);
    font-size: 24px;
    padding-left: 450px;
}
.more-info{
    display: flex;
} 

@media screen and (max-width: 780px) {
    #main{
        background-color: rgb(168, 164, 164);
        font-size: 18px;
        width: 250px;
        padding-left: 25px;
    }   
    .more-info{
        display: flex;
    } 
}